<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JoiRichi's Blog</title>
</head>
<body style="font-family: sans-serif;
    margin-top: 80px;
    padding: 30px; height: 125vh;  background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg')" >

<header style=" *display: inline;  background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;">
    <nav>
        <ul>
            <li><a href="#">home</a></li>
             <li><a href="#">blog</a></li>
             <li><a href="#">about</a></li>
        </ul>
    </nav>
</header>
<h4 align="center">My page</h4>
<p style="color: white">hi, this site is under construction, stay tuned. </p>

</body>
</html>